[Unit]
Description=Test Program
After=network.target

[Service]
ExecStart=/bin/python3 -u /home/lsh/rk3566_multi_downloader/PYTHON_CODE/main.py
WorkingDirectory=/home/lsh/rk3566_multi_downloader/PYTHON_CODE
User=lsh
StandardOutput=file:/home/lsh/rk3566_multi_downloader/PYTHON_CODE/main.log
StandardError=file:/home/lsh/rk3566_multi_downloader/PYTHON_CODE/main_error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target